.header-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 99999;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.header_icon-logo{
    width: 200px; 
    height: auto;
    overflow: hidden;
    cursor: pointer;
}

.logo_navigation-menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #235565;
    font-weight: 600;
    font-size: inherit;
    font-family: var(--poppins-botton-font);
}

.logo_navigation-menu li{
    padding: 20px;
    cursor: pointer;
}

.logo_navigation-menu li a{
    color: inherit;
    text-decoration: none;
}

.logo_navigation-menu li:hover{
    color: #519ac9;
}

.header_socials{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header_socials a{
    width: 30px;
    margin-right: 10px;
}