<div class="container header-container">
	<header class="header">
		<div class="header_icon">
			<img loading="lazy" src="images/Healthy-pet.png" alt="Healthy Pet" class="header_icon-logo">
		</div>
		<div class="logo_navigation">
			<ul class="logo_navigation-menu">
				<li class="menu_services">
					<a href="#Services">
						Services
					</a>
				</li>
				<li>
					<a href="#Pricing">
						Pricing
					</a>
				</li>
				<li>
					<a href="#Testimonials">
						Testimonials
					</a>
				</li>
				<li>
					<a href="#Contact-us">
						Contact us
					</a>
				</li>
			</ul>
		</div>
		<div class="header_socials">
			<a href="https://www.facebook.com/" class="header_socials-fb">
				<img src="images/facebook-icon.jpg" alt="" class="header_socials-icon">
			</a>
			<a href="https://www.instagram.com/" class="header_socials-inst">
				<img src="images/instagram_icon.png" alt="" class="header_socials-icon">
			</a>
			<a href="https://www.youtube.com/" class="header_socials-yt">
				<img src="images/youtube-icon.jpg" alt="" class="header_socials-icon">
			</a>
		</div>
	</header>
</div>
